<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmGAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
    <div class="container py-5">
        <h1 class="mb-3">About Us</h1>
        <div class="card mb-3">
            <div class="card-body">
                <p class="lead">We are a team of passionate cooks who love to share our recipes with the world.</p>
                <p>We believe that cooking should be fun and accessible to everyone. That's why we created this website, to share our favorite recipes and cooking tips with you.</p>
                <p>Whether you're a beginner cook or a seasoned chef, we hope you'll find something here that inspires you to get in the kitchen and start cooking!</p>
            </div>
        </div>
    </div>
</body>
</html>